@import url('https://fonts.googleapis.com/css?family=Chicle');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body{
  background-color:#E1E8ED;
  font-family: "Ubuntu";
  color: 'black';
}

.list a{
  color: white;
}

.navigation{
  background-color: darkgreen;
  color: white;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


.company{
  padding:10px;
  background: whitesmoke;
  width: 300px;
  margin: 20px;
  box-shadow: 3px;
}


.ticket{
  padding:10px;
  background: darkblue;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 200px;
  margin: 20px;

}

.tweet{
  padding:10px;
  background: darkgreen;
  text-align: center;
  color: white;
  font-weight: bold;
  width: 200px;
  margin: 20px;

}


.list{
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  padding-right: 20px;
}


.login{
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.header{
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Righteous";

}

.about{
  background-color: white;
  padding: 20px;
  color: black;
  font-weight: bold;
}

.active-tab{
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.traffle-box{
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 3px #666;
  border-radius: 10px;
  padding:10px;
}


.traffle{

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}


.headerText{
  font-size: 1.5em;
  

}

.headerCaption{

}


.titleDesign{
  background-color: orange;
  padding: 10;
  margin: 10;
}

.app-name{
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 20px;
  font-family: "Righteous";
}

.tabs{

  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Righteous";

}

